.navbar {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}
.navbar li {
    width: auto;
    display: inline-block;
    margin: 0 0 0 20px;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    color: #fff;
    font-size: 16px;
}
.navbar li a {
    color: #fff;
    text-decoration: none;
}
.nav-item {
    width: auto;
}
