header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #081C24;
    padding: 20px 15px;
    box-sizing: border-box;
}
.logo {
    width: 75px;
    height: 66px;
}
.topHeader {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}