body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
.container {
    width: 1140px;
    margin: 0 auto;
    padding: 0 15px;
    position: relative;
}
.flexGrid {
    display: flex;
    flex-wrap:wrap;
}
.flexBox {
    position: relative;
}
.flexBox img {
    max-width:100%;
    width: auto;
    height: auto;
}
.flexBox:nth-child(1) {
    width:50%;
    min-height: 320px;
}
.flexBox:nth-child(2) {
    width:50%;
    min-height: 320px;
}
.flexBox {
    width:33.33%;
    display:flex;
    align-items: flex-end;
}

.contentInfo {
    width: 100%;
    display: flex;
    margin: 0;
    padding: 0;
}
.contentHeader {
    width: 100%;
    display: flex;
    background-color: #0e0e0e;
}
.contentPoster {
    max-width: 30%;
}
.contentPoster > img {
    max-width: 100%;
    width: auto;
    height: auto;
}
.loader {
    width: 100%;
    position: absolute;
    
}